<!DOCTYPE html>
<html>
    <head>
        <title>Generate an RSS feed for Tent status posts</title>
    </head>
    <body>
        <p>Type your Tent entity URI (like <strong>https://mytent.tent.is</strong>)
        below to generate an RSS feed of your latest public status posts.</p>
        <form method="get" action="feed">
            <input type="text" name="uri" value=""
                   style="min-width: 35em;" />
            <input type="submit" value="Get RSS" />
        </form>
        <p>Made by <a href="https://graue.tent.is/">^graue</a>.
        <a href="https://github.com/graue/tentrss">Code on GitHub</a>.</p>
    </body>
</html>
